* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
}

/* layouts */

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.color-white {
    color: var(--light);
}

.color-black {
    color: black;
}

/*
.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

*/

/*navbar*/

.navbar {
    background-color: var(--blue);
}

.page-header .row {
    justify-content: space-between;
}

.navbar .col {
    display: flex;
    align-items: center;
}

.navbar-items {
    display: none;
}

.navbar {
    padding: 15px 30px;
}

.hamburger-menù {
    color: white;
}

.navbar .navbar-button {
    color: black;
    background-color: var(--light);
    line-height: 30px;
    border-radius: 20px;
    padding: 0 10px;
}

/* features section */

[class^='col'] > .card-body {
    height: 100%;
}

.features-section {
    padding-top: 50px;
    padding-bottom: 80px;
}

.features-section .card-body {
    background-color: var(--light-blue);
    border-radius: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.features-section .card-image {
    background-color: var(--light-blue);
}



.app-store {
    background-color: var(--blue);
    line-height: 40px;
    color: var(--light);
    border-radius: 30px;
    padding: 0 40px;

}

.no-image {
    padding-top: 38px;
    padding-bottom: 38px;
}

.demo {
    padding-top: 38px;
}

.features-section .card-body i {
    color: var(--blue);
}

.features-section .card-body h3 {
    color: var(--blue);
    margin-bottom: 30px;
}

.features-section .card-body a > i {
    color: white;
}

.symbol {
    font-size: 50px;
    margin-bottom: 30px;
}

.demo-p {
    margin-bottom: 30px;
}

.app-store {
    margin-bottom: 30px;
}

.features-section .card-body p {
    font-size: 14px;
    line-height: 2;
    font-weight: 600;
}

/*planning section*/

.planning-section {
    background-color: var(--purple);
    padding: 64px 0;
}

.development {
    background-color: var(--light);
    border-radius: 20px;
}

.planning-section h2 {
    margin-bottom: 60px;
    margin-top: 140px;
}

.planning-section h3 {
    margin-bottom: 26px;
    margin-top: 26px;
}

.planning-card i {
    margin: 30px 0;
    background-color: var(--purple);
    border-radius: 100%;
    padding: 15px 15px;
}

.planning-section .app-development img {
    display: inline-block;
    text-align: center;
}

/*testimonials section*/

.testimonial-section {
    padding-top: 60px;
    padding-bottom: 110px;
}

.testimonial-section h2 {
    color: var(--purple);
    margin-top: 60px;
    margin-bottom: 60px;
}

.testimonial-section .col {
    background-color: var(--purple);
    border-radius: 30px;
    padding: 30px 20px;
    color: white;
}

.testimonial-p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.testimonial-section .container > p {
    margin-bottom: 50px;
}

.testimonial-section img {
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 200px;
    
}

/*with-us*/

.with-us {
    background-color: var(--purple);
    padding-top: 70px;
    padding-bottom: 60px;
}

.with-us h2 {
    margin-bottom: 70px;
}

.with-us .col {
    
    
    padding: 15px 15px;
}

.with-us .card {
    background-color: var(--light);
    border-radius: 20px;
    padding: 50px 30px;
}

.with-us .numbers {
    font-size: 50px;
    color: var(--purple);
    font-weight: 700;
}

.with-us h3 {
    color: var(--purple);
    margin-top: 30px;
    margin-bottom: 30px;
}

.with-us a {
    margin-top: 30px;
    background-color: var(--purple);
    color: var(--light);
    line-height: 2;
    padding: 5px 50px;
    border-radius: 30px;
}

/* about us */

.about-us {
    padding-top: 95px;
    padding-bottom: 80px;
}

.about-us h2 {
    font-size: 60px;
    color: var(--purple);
    margin-bottom: 60px;
}

.about-us img {
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.about-us p {
    line-height: 2;
    margin-bottom: 70px;
}

.about-us .quote {
    margin-top: 32px;
    margin-bottom: 32px;
    color: var(--purple);
    font-size: 26px;
    font-weight: 700;
}

.about-us a {
    background-color: var(--purple);
    color: var(--light);
    border-radius: 30px;
    line-height: 2;
    padding: 5px 15px;
}

.about-us figure {
    position: relative;
}

.about-us figure i {
    font-size: 50px;
    color: var(--purple);
    position: absolute;
    left: 150px;
}



/* RESPONSIVE
breakpoint :
576px
768px
1200px */ 

@media screen and (min-width: 576px) {
   /*navbar*/
   /*features section*/
   .features-section .col {
    margin-bottom: 25px;
}

.features-section .container {
    max-width: 512px;
    margin: 0 auto;
}
    /*planning section*/

    .planning-section .container {
        max-width: 512px;
        margin: 0 auto;
    }

    .planning-section .row {
        row-gap: 38px;
    }
    /*testimonials section*/

    .testimonial-section .container {
        max-width: 512px;
        margin: 0 auto;
    }

    .testimonial-section .row {
        row-gap: 30px;
    }

    /*with-us*/

    .with-us .container {
        max-width: 512px;
        margin: 0 auto; 
    }

    .with-us .row {
        flex-direction: column;
        
    }

    /* about us */

    .about-us .container {
        max-width: 512px;
        margin: 0 auto;
    }

    .about-us img {
        max-width: 180px;
    }
}

@media screen and (min-width: 768px) {
    /*navbar*/
    /*features section*/

    .features-section {
        padding-bottom: 100px;
    }

    .features-section .col {
        padding: 0 12px;
        margin-bottom: 0px;
    }

    .features-section .row {
        row-gap: 24px;
    }

    .features-section .container {
        max-width: 714px;
        margin: 0 auto;
    }

    .features-section .col-8 {
        flex-basis: calc((100% / 12) * 8);
    }

    .features-section .col-4 {
        flex-basis: calc((100% / 12) * 4);
    }
    /*planning section*/

    .planning-section .container {
        max-width: 714px;
        margin: 0 auto;
    }

    /*testimonials section*/

    .testimonial-section .container {
        max-width: 714px;
        margin: 0 auto; 
    }

    .testimonial-section .col {
        display: flex;
    }

    .testimonial-section figure {
        margin-right: 50px;
    }

    /*with-us*/

    .with-us .container {
        max-width: 714px;
        margin: 0 auto;
    }

    .with-us .row {
        flex-direction: row;
        
    }

    .with-us .col {
        flex-basis: calc(100% / 2);
    }

    /* about us */

    .about-us img {
        max-width: 200px;
    }

    .about-us .container {
        max-width: 646px;
        margin: 0 auto;
    }

    .about-us .col-8 {
        flex-basis: calc((100% / 12) * 8);
        padding-right: 100px;
    }

    .about-us .col-4 {
        flex-basis: calc((100% / 12) * 4);
    }


}

@media screen and (min-width: 1200px) {
    /*navbar*/

    .hamburger-menù {
        display: none;
    }

    .navbar-items {
        display: flex;
        color: white;
        align-items: center;
    }

    .navbar-items li {
        margin-left: 20px;
    }

    /*features section*/

    .features-section .container {
        max-width: 1164px;
        margin: 0 auto;         
    }

    .demo {
        display: flex;
    }
    /*planning section*/

    .planning-section .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .planning-section .col-6 {
        flex-basis: calc((100% / 12) * 6);
        padding: 0 35px;
    }

    .planning-section .app-development {
        align-self: flex-end;
    }

    .planning-section .app-development img {
        max-width: 320px;
        
    }

    /*testimonials section*/

    .testimonial-section .container {
        max-width: 1164px;
        margin: 0 auto; 
    }

    .testimonial-section .col {
        display: flex;
    }

    .testimonial-section figure {
        margin-right: 90px;
    }

    /*with-us*/

    .with-us .container {
        max-width: 1164px;
        margin: 0 auto;
    }

    .with-us .col {
        flex-basis: calc(100% / 3);
    }

    /* about us */

    .about-us .container {
        max-width: 1074px;
        margin: 0 auto;
    }
    
}