* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
}

/* layouts */

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.color-white {
    color: var(--light);
}

.color-black {
    color: black;
}

/*
.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

*/

/*navbar*/

.navbar {
    background-color: var(--blue);
}

.page-header .row {
    justify-content: space-between;
}

.navbar .col {
    display: flex;
    align-items: center;
}

.navbar-items {
    display: none;
}

.navbar {
    padding: 15px 30px;
}

.hamburger-menù {
    color: white;
}

.navbar .navbar-button {
    color: black;
    background-color: var(--light);
    line-height: 30px;
    border-radius: 20px;
    padding: 0 10px;
}

/* features section */

.features-section {
    padding-top: 50px;
    padding-bottom: 80px;
}

.features-section .card-body {
    background-color: var(--light-blue);
    border-radius: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.features-section .card-image {
    background-color: var(--light-blue);
}

.app-store {
    background-color: var(--blue);
    line-height: 40px;
    color: var(--light);
    border-radius: 30px;
    padding: 0 40px;

}

.no-image {
    padding-top: 38px;
    padding-bottom: 38px;
}

.demo {
    padding-top: 38px;
}

.features-section .card-body i {
    color: var(--blue);
}

.features-section .card-body h3 {
    color: var(--blue);
    margin-bottom: 30px;
}

.features-section .card-body a > i {
    color: white;
}

.symbol {
    font-size: 50px;
    margin-bottom: 30px;
}

.demo-p {
    margin-bottom: 30px;
}

.app-store {
    margin-bottom: 30px;
}

/*planning section*/

.planning-section {
    background-color: var(--purple);
    padding: 64px 0;
}

.development {
    background-color: var(--light);
    border-radius: 20px;
}

.planning-section h2 {
    margin-bottom: 60px;
    margin-top: 40px;
}

.planning-section h3 {
    margin-bottom: 26px;
    margin-top: 26px;
}

.planning-card i {
    margin: 30px 0;
    background-color: var(--purple);
    border-radius: 100%;
    padding: 15px 15px;
}



/* RESPONSIVE
breakpoint :
576px
768px
1200px */ 

@media screen and (min-width: 576px) {
   /*navbar*/
   /*features section*/
   .features-section .col {
    margin-bottom: 25px;
}

.features-section .container {
    max-width: 512px;
    margin: 0 auto;
}
    /*planning section*/

    .planning-section .container {
        max-width: 512px;
        margin: 0 auto;
    }

    .planning-section .row {
        row-gap: 38px;
    }
}

@media screen and (min-width: 768px) {
    /*navbar*/
    /*features section*/

    .features-section .col {
        padding: 0 12px;
        margin-bottom: 0px;
    }

    .features-section .row {
        row-gap: 24px;
    }

    .features-section .container {
        max-width: 714px;
        margin: 0 auto;
    }

    .features-section .col-8 {
        flex-basis: calc((100% / 12) * 8);
    }

    .features-section .col-4 {
        flex-basis: calc((100% / 12) * 4);
    }
    /*planning section*/

    .planning-section .container {
        max-width: 714px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1200px) {
    /*navbar*/

    .hamburger-menù {
        display: none;
    }

    .navbar-items {
        display: flex;
        color: white;
        align-items: center;
    }

    .navbar-items li {
        margin-left: 20px;
    }

    /*features section*/

    .features-section .container {
        max-width: 1164px;
        margin: 0 auto;         
    }

    .demo {
        display: flex;
    }
    /*planning section*/

    .planning-section .container {
        max-width: 1164px;
        margin: 0 auto;
    }

    .planning-section .col-6 {
        flex-basis: calc((100% / 12) * 6);
        padding: 0 35px;
    }
    
}